body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.container-bottomright {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#notification {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    align-items: center;
    opacity: 0;
}

.notify-message {
    margin-right: 10px;
    flex-grow: 1; /* Allow the message to take available space */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
